@import "src/components/common/styles/base/variables";

.skillCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 38px 24px;

  text-align: center;

  background-color: $white;
  border: 1px solid rgba($border-color, 0.8);

  transition: box-shadow, $transition-time;

  @media (hover: hover) {
    &:hover {
      box-shadow: $shadow;
    }
  }
}

.title,
.icon {
  margin-bottom: 18px;
}

.icon {
  svg {
    width: 44px;

    fill: $theme-color;
  }
}

.list {
  min-height: 200px;
  margin: 0;
  padding-left: 2rem;

  list-style-type: none;
  font-size: 0.875rem;
  line-height: 1.95;
  text-align: initial;
}

.skill {
  position: relative;

  margin-bottom: 0.5rem;
  padding-left: 2rem;
}

.skill:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 5px;
  height: 11px;

  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: $theme-color;
  transform: rotate(45deg);
  transform-origin: bottom left;
}
