@import "src/components/common/styles/base/variables";

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 24px;

  text-align: center;

  background-color: $white;
  border: 1px solid rgba($border-color, 0.8);

  transition: box-shadow, $transition-time;

  @media (hover: hover) {
    &:hover {
      box-shadow: $shadow;
    }
  }
}

.icon {
  margin-bottom: 18px;

  svg {
    width: 44px;

    fill: $theme-color;
  }
}

.description {
  width: 100%;
  min-height: 200px;
  padding: 10px;

  font-size: 0.875rem;
  line-height: 1.95;
}
