@import "src/components/common/styles/base/variables";

.projects {
  background-color: $section-color-main;
}

.container {
  display: flex;
  flex-direction: column;
}

.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
