@import "src/components/common/styles/base/variables";

.projects {
  background-color: $section-color-main;
}

.container {
  display: flex;
  flex-direction: column;
}

.filterWrapper {
  margin-bottom: 20px;
}
