@import "src/components/common/styles/base/variables";

.projects {
  background-color: $section-color-main;
}

.container {
  display: flex;
  flex-direction: column;
}

.projectCards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$container-indent-lg;
  margin-left: -$container-indent-lg;
  padding-top: 20px;

  & > div {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    margin-bottom: $grid-gutter-width;
    padding-right: $container-indent-lg;
    padding-left: $container-indent-lg;
  }
}
