@import "../../common/styles/base/variables";

.list {
  margin: 0;
  padding-left: 0;
  overflow: hidden;

  list-style-type: none;
  text-align: center;
  text-transform: capitalize;

  &.active {
    width: 100%;
    height: 100%;

    opacity: 1;
  }

  @media screen and (max-width: $screen-lg) {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 0;
    height: 0;
    padding-top: $header-height;

    text-align: center;

    background-color: $overlay;
    opacity: 0;

    transition-duration: $transition-time;
    transition-property: width, height, opacity;
  }
}

.item:not(:last-child) {
  margin-bottom: 28px;

  @media screen and (max-width: $screen-lg) {
    margin-bottom: 0;
  }
}

.list .link {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.5px;

  cursor: pointer;

  transition: background-color $transition-time;

  @media screen and (max-width: $screen-lg) {
    position: relative;
    z-index: 8;

    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 25 - #{$header-height / 4}); //fix for VH in mobile devices

    font-weight: 800;
    font-size: 2.5rem;

    border-bottom: 1px solid rgba($white, 0.3);
  }

  @media screen and (max-width: $screen-lg) and (hover: hover) {
    &:hover,
    &:focus {
      color: $link-color;

      background-color: rgba($link-color-hover, 0.6);
    }

    &:active {
      background-color: $link-color-active;
    }
  }

  &.active {
    color: $link-color-hover;

    @media screen and (max-width: $screen-lg) {
      color: $link-color;

      background-color: rgba($link-color-hover, 0.6);
    }
  }
}
