.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  list-style-type: none;
}

.item:not(:first-child) {
  padding-left: 10px;
}

.item:not(:last-child) {
  padding-right: 10px;
}

.github {

}

.linkedin {

}

.twitter {

}

.telegram {

}
