@import "src/components/common/styles/base/variables";

.form {
  display: flex;
  flex-wrap: wrap;
}

.nameTitle,
.emailTitle,
.subjectTitle,
.messageTitle {
  margin-bottom: 25px;
}

.nameTitle,
.emailTitle {
  flex: 0 0 50%;
  max-width: 50%;

  @media screen and (max-width: $screen-md) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.nameTitle {
  padding-right: $container-indent-lg;

  @media screen and (max-width: $screen-md) {
    padding-right: 0;
  }
}

.emailTitle {
  padding-left: $container-indent-lg;

  @media screen and (max-width: $screen-md) {
    padding-left: 0;
  }
}

.message {
  min-height: 120px;

  resize: none;
}

.submitWrapper,
.submitWrapper button {
  position: relative;
  z-index: 1;
}

.sendingText {
  animation: blink 1s ease infinite;
}

@keyframes blink {
  0% {
    color: rgba($white, 1);
  }
  50% {
    color: rgba($white, 0.5);
  }
  100% {
    color: rgba($white, 1);
  }
}
