.form {
  display: flex;
  flex-direction: column;
}

.formInner {
  display: flex;
  flex-wrap: wrap;
}

.nameTitle,
.emailTitle,
.subjectTitle,
.messageTitle {
  margin-bottom: 25px;
}

.nameTitle,
.emailTitle {
  flex: 0 0 50%;
  max-width: 50%;
}

.nameTitle {
  padding-right: 15px;
}

.emailTitle {
  padding-left: 15px;
}

.message {
  min-height: 120px;

  resize: none;
}

.submitWrapper {
  margin-top: auto;

  text-align: center;
}

.submit {
  display: inline-block;
}
