@import "src/components/common/styles/base/variables";

.btn {
  position: relative;

  display: inline-block;
  min-width: 160px;
  padding: 10px 30px;

  font-size: 0.875rem;
  vertical-align: middle;
  text-align: center;
  color: $white;
  text-decoration: none;
  word-break: initial;

  background-color: $theme-color;
  border: 1px solid $theme-color;
  border-radius: 30px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  cursor: pointer;

  transition-duration: $transition-time;
  transition-property: color , background-color, border-color, box-shadow;

  user-select: none;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($theme-color, 0.25);
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      background-color: $link-color-hover;
      border-color: $link-color-hover;
    }

    &:active {
      color: rgba($white, 0.8);

      background-color: darken($link-color-hover, 10%);
    }
  }
}
