@import "src/components/common/styles/base/variables";
$btn-min-width: 160px;
$color1: $white;
$color2: $theme-color;
$background-color: $theme-color;
$padding: 10px 30px;
$border-radius: 30px;
$box-shadow: 0 5px 20px rgba($color2, 0.5);
$transition-time: $transition-time * 2;
$transition-delay: 0.1s;


.btn {
  position: relative;
  z-index: 1;

  display: inline-block;
  min-width: $btn-min-width;
  padding: $padding;
  overflow: hidden;

  font-size: $font-size-sm;
  line-height: $line-height;
  vertical-align: middle;
  text-align: center;
  color: $color1;
  text-transform: capitalize;
  text-decoration: none;
  word-break: initial;

  background-color: $background-color;
  border-width: 1px;
  border-style: solid;
  border-color: $color2;
  border-radius: $border-radius;
  cursor: pointer;

  transition: $transition-time ease-out;

  user-select: none;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 50%;

    width: 40px;
    height: 40px;

    background-color: $color1;
    border-radius: $border-radius;
    transform: translate(-50%, -50%) scale(1);

    transition: $transition-time ease-in-out;
  }

  &:disabled {
    background-color: rgba($color2, 0.7);
    cursor: default;
  }

  &:focus {
    outline: 0;
    box-shadow: $box-shadow;
  }

  @media (hover: hover) {
    &:hover:not(:disabled) {
      z-index: 2;

      color: $color2;

      box-shadow: $box-shadow;

      transition-delay: $transition-delay;

      &::before {
        transform: scale(8.3);
      }
    }

    &:active {
      &::before {
        background-color: darken($color1, 10%);
      }
    }
  }

  &Light {
    color: $color2;

    background-color: $color1;

    &::before {
      background-color: $color2;
    }

    @media (hover: hover) {
      &:hover:not(:disabled) {
        color: $color1;
      }

      &:active {
        &::before {
          background-color: darken($color2, 10%);
        }
      }
    }
  }
}
