@import "src/components/common/styles/base/variables";

.btn {
  position: relative;

  display: inline-block;
  min-width: 160px;
  padding: 10px 30px;

  font-size: 0.875rem;
  vertical-align: middle;
  text-align: center;
  color: $white;
  text-decoration: none;
  word-break: initial;

  background-color: $theme-color;
  border: 1px solid $theme-color;
  border-radius: 30px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  cursor: pointer;

  transition: color $transition-time, background-color $transition-time, border-color $transition-time;

  user-select: none;
}

.btn:focus {
  outline: 0;
}

@media (hover: hover) {
  .btn:hover,
  .btn:focus {
    background-color: $link-color-hover;
    border-color: $link-color-hover;
  }

  .btn:active {
    color: rgba($white, 0.6);
  }
}
