@import "src/components/common/styles/base/variables";

.link {
  color: $link-color;
  text-decoration: none;

  transition: color $transition-time;
}

.link:focus {
  outline: 0;
}

@media (hover: hover) {
  .link:hover,
  .link:focus {
    color: $link-color-hover;
  }

  .link:active {
    color: $text-color-muted;
  }
}
