@import "src/components/common/styles/base/variables";

.titlePrimary,
.titleSecondary,
.titleTertiary,
.titleQuaternary {
  margin-top: 0;
  color: $gray-darkest;
}

.titlePrimary {
  font-size: $font-size-title-primary;
}

.titleSecondary {
  font-size: $font-size-title-secondary;
}

.titleTertiary {
  font-size: $font-size-title-tertiary;
}

.titleQuaternary {
  font-size: $font-size-title-quaternary;
}
