@import "src/components/common/styles/base/variables";
@import "src/components/common/styles/base/mixins";

.main {
  position: relative;

  height: 100vh;

  background-color: $section-color-main;
  background-image: url("../../assets/images/bg-main.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $overlay;
  }

  @media screen and (max-width: $screen-md) {
    height: auto;
    overflow: hidden;
  }
}

.container {
  display: flex;
  align-items: center;

  @media screen and (max-width: $screen-md) {
    padding-top: 140px;
  }
}

.content {
  position: relative;
  z-index: 3;

  @media screen and (max-width: $screen-xl) {
    padding-top: 8rem;
  }

  @media screen and (max-width: $screen-md) {
    padding-top: 0;
  }
}

.intro {
  text-align: center;

  @media screen and (max-width: $screen-md) {
    text-align: initial;
  }
}

.intro .title,
.headline {
  line-height: 1.2;
  color: $white;
}

.intro .title {
  word-break: initial;

  & span {
    color: $theme-color;

    @media screen and (max-width: $screen-md) {
      display: block;
    }
  }

  @media screen and (max-width: $screen-md) {
    @include font-size(62px);
  }

  @media screen and (max-width: $screen-sm) {
    @include font-size(48px);

    margin-bottom: px-rem(20px);
  }
}

.headline {
  margin-top: 0;
  margin-bottom: 3rem;

  font-size: 2rem;

  & > span {
    font-weight: 700;
  }

  @media screen and (max-width: $screen-md) {
    @include font-size(30px);
  }

  @media screen and (max-width: $screen-sm) {
    @include font-size(26px);

    margin-bottom: px-rem(20px);
  }
}

.btnWrapper {
  & a {
    @media screen and (max-width: $screen-sm) {
      min-width: 120px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.btnWork {
  margin-left: 16px;

  @media screen and (max-width: $screen-sm) {
    margin-left: 6px;
  }
}

.photo {
  position: absolute;
  z-index: 2;
  right: 20vh;
  bottom: -5px;

  width: 50vh;

  @media screen and (max-width: $screen-xxl) {
    right: 10vh;
  }

  @media screen and (max-width: $screen-lg) {
    right: 4vh;
  }

  @media screen and (max-width: $screen-md) {
    top: calc(#{$header-height} + 2%);
    right: 0.5vh;
    bottom: initial;

    width: 80%;
  }
}

.mouseWrapper {
  position: absolute;
  z-index: 4;
  right: 0;
  bottom: 5%;
  left: 0;

  display: flex;
  justify-content: center;

  @media screen and (max-width: $screen-lg) {
    display: none;
  }
}

.link {
  display: inline-block;
  padding: 16px;

  cursor: pointer;
}
