.skills {
  min-height: 100vh;

  background-color: #defeea;
}

.container {
  display: flex;
  flex-direction: column;
}

.skillCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
