@import "src/components/common/styles/base/variables";

skills {
  min-height: 100vh;

  background-color: $section-color-additional;
}

.container {
  display: flex;
  flex-direction: column;
}

.skillCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
