@import "src/components/common/styles/base/variables";

.skills {
  background-color: $section-color-additional;
}

.container {
  display: flex;
  flex-direction: column;
}

.skillCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  & > div {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
  }
}
