.skills {
  min-height: var(--sectionHeight);

  background-color: #defeea;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: auto;

  text-align: center;
}

.skillCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  border: 1px solid var(--dark); /* FIXME needs to delete after finish layouts */
}
