@import "src/components/common/styles/base/variables";

.projectCard {
  padding: 0;

  &:hover {
    .btnWrapper,
    .imageWrapper::before {
      visibility: visible;
      opacity: 1;
    }
  }
}

.imageWrapper {
  position: relative;

  background-color: $section-color-additional;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $overlay;
    visibility: hidden;
    opacity: 0;

    transition: opacity $transition-time;
  }
}

.btnWrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;

  transition: opacity $transition-time;

  & a {
    display: block;
  }
}

.btnDemo {
  margin-bottom: 15px;
}

.info {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  padding: 20px;
}

.content {
  margin-bottom: 20px;
}

.description {
  font-size: $font-size-sm;
}

.projectType {
  margin-top: auto;
}

.projectTypeLink {
  font-size: $font-size;
  color: $link-color-hover;

  @media (hover: hover) {
    &:hover,
    &:focus {
      color: darken($link-color-hover, 20%);
    }

    &:active {
      color: $link-color-active;
    }
  }
}
