@import "src/components/common/styles/base/variables";

.contact {
  min-height: 100vh;

  background-color: #fee2e2;
}

.container {
  display: flex;
  flex-direction: column;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
