@import "src/components/common/styles/base/variables";

.contact {
  background-color: $section-color-additional;
}

.container {
  display: flex;
  flex-direction: column;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
