@import "src/components/common/styles/base/variables";

.list {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style-type: none;

  li:not(:last-child) {
    margin-right: 1rem;
  }
}

.filter {
  position: relative;

  font-weight: 700;
  font-size: $font-size-sm;
  color: $text-color;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $theme-color;
    opacity: 0;

    transition: opacity $transition-time, background-color $transition-time;
  }

  &:focus {
    outline: 0;
  }

  @media (hover: hover) {
    &:hover,
    &:focus,
    &Selected {
      color: $theme-color;
    }

    &:active {
      color: $link-color-active;
    }

    &:hover::after,
    &:focus::after,
    &Selected::after {
      opacity: 1;
    }

    &:active::after {
      background-color: $link-color-active;
      opacity: 1;
    }
  }
}
