@import "src/components/common/styles/base/variables";

.footer {
  color: $white;

  background-color: $theme-color-dark;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

.footerMini {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
