@import "src/components/common/styles/base/variables";

.app {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  color: $text-color;
}

::selection {
  color: $white;

  background-color: $theme-color;
}
