@import "src/components/common/styles/base/variables";

::selection {
  color: $white;

  background-color: $theme-color;
}

.app {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  color: $text-color;
}

.sectionsWrapper {
  padding-left: $aside-width;

  @media screen and (max-width: $screen-lg) {
    padding-left: 0;
  }
}
