@import "src/components/common/styles/base/variables";

.nav {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;

  height: $header-height;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: $header-height;

  background-color: $theme-color-dark;
}

.nav .container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  list-style-type: none;
  text-transform: capitalize;
}

.item:not(:first-child) {
  padding-left: 10px;
}

.item:not(:last-child) {
  padding-right: 10px;
}

.link {
  position: relative;
}
