@import "src/components/common/styles/base/variables";

.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: $aside-width;
  height: 100%;

  background-color: $theme-color-dark;

  @media screen and (max-width: $screen-lg) {
    right: 0;
    left: 0;
    width: auto;

    height: $header-height;
  }
}

.nav .container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

  & > div {
    display: none;
  }

  @media screen and (min-width: $screen-lg + 1) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > div {
      display: block;
    }
  }
}

.list {
  margin: 0;
  padding-left: 0;

  list-style-type: none;
  text-align: center;
  text-transform: capitalize;

  @media screen and (max-width: $screen-lg) {
    display: flex;
    flex-wrap: wrap;
  }
}

.item:not(:last-child) {
  margin-bottom: 28px;

  @media screen and (max-width: $screen-lg) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.nav .link {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.5px;

  &Active {
    color: $link-color-hover;
  }
}
