@import "src/components/common/styles/base/variables";

.hire {
  position: relative;

  background-color: $body-bg;
  background-image: url("../../assets/images/bg-hire.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $overlay;
  }

  h2 {
    margin-bottom: 14px;

    font-weight: 700;
    color: $white;
    letter-spacing: initial;
  }

  p {
    color: $text-color-muted;
  }
}

.container {
  padding-top: 65px;
  padding-bottom: 65px;
}

.content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  & > div {
    margin-bottom: 0;

    @media screen and (max-width: $screen-md) {
      margin-bottom: 26px;
    }
  }

  @media screen and (max-width: $screen-md) {
    display: block;

    text-align: center;
  }
}
